{% extends 'common/base.html' %}

{% block content %}
  <div style="display: inline-block">
    <form action="" method="POST" class="navbar-form navbar-left">{% csrf_token %}
      <div class="form-group" >{{ form }}</div>
      <button type="submit" class="btn btn-default navbar-btn">Search</button>
    </form>
  </div>
  <div>
    <ul class="list-group">
    {% for item in search_result %}
      {% for id in video_id %}
      <li class="list-group-item">{{ item }}</li>
      <div style="position:relative;height:0;padding-bottom:56.25%"
           class="embed-responsive embed-responsive-16by9">
      <iframe src="https://www.youtube.com/embed/{{ id }}"
              width="480" height="270" frameborder="0" </iframe>
      </iframe>
      </div>
      {% endfor %}
    {% endfor %}
    </ul>
    
  </div>
{% endblock %}